html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Ubuntu;
  background: linear-gradient(#b3ffab, #67fffc);
}

#header {
  height: 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(78.2, 78.2, 85), rgb(62.1, 62.1, 67.5));
  color: #bbbbbb;
}

#headerContent {
  margin-left: 10px;
  text-align: center;
}

#page {
  display: flex;
  height: calc( 100vh - 30px);
  /* calculate the height. Header is 30px */
}

#sideBar {
  width: 100px;
  background: rgb(183, 0, 255);
}

#content {
  background: rgb(225, 150, 255);
  flex: 1 0 auto;
  /* enable grow, disable shrink */
}

p {
  color: darkslategrey;
}

a {
  color: black;
}

h1, h2 {
  color: pink;
}